<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>EasyShare - File Sharing Service</title>
      <link rel="stylesheet" href="/static/css/index.css">
   </head>
   <body>
      <div class="header">
         <img src="/static/img/logo.png" alt="Logo" width="540" height="120">
         <div class="tagline">Your easy and fast solution for file sharing</div>
         <div class="upload-btn-wrapper">
            <input type="file" name="file" id="fileInput" style="display: none;" onchange="handleFileUpload()" multiple />
            <button class="btn" onclick="triggerFileInput()">Upload Files</button>
            <div id="upload-status"></div>
            <input type="file" id="fileInput" style="display:none;" />
         </div>
      </div>
      <div class="info-section">
         <div class="login-button">
            <a href="/login" class="google-login-button">Login with Google</a>
        </div>
         <div class="info-row">
            <div class="info-block">
               <div class="info-icon">&#128202;</div>
               <h2 class="info-title">Store Content</h2>
               <div class="info-text">Access your content whenever you need it.</div>
            </div>
            <div class="info-block">
               <div class="info-icon">&#10148;</div>
               <h2 class="info-title">Distribute Content</h2>
               <div class="info-text">Share content with friends, colleagues, or the internet.</div>
            </div>
         </div>
         <div class="info-row">
            <div class="info-block">
               <div class="info-icon">&#128274;</div>
               <h2 class="info-title">No Registration</h2>
               <div class="info-text">Use EasyShare without the need for registration. Optional sign-in available for better management.</div>
            </div>
            <div class="info-block">
               <div class="info-icon">&#60;&#47;&#62;</div>
               <h2 class="info-title">Customizable API</h2>
               <div class="info-text">Benefit from our API for tailored file management and data handling.</div>
            </div>
         </div>
      </div>
      <script src="static/js/upload.js"></script>
   </body>
</html>